<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<display-name>Bookmaker-Web-App</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GetHomePage</servlet-name>
		<servlet-class>servlet.GetHomePage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetHomePage</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/home</url-pattern>		
	</servlet-mapping>

	<servlet>
	    <servlet-name>Registry</servlet-name>
	    <servlet-class>servlet.Registration</servlet-class>
 	</servlet>
  
	<servlet-mapping>
	    <servlet-name>Registry</servlet-name>
	    <url-pattern>/reg</url-pattern>
 	</servlet-mapping>

	<servlet>
	    <servlet-name>SignIn</servlet-name>
	    <servlet-class>servlet.SignIn</servlet-class>
 	</servlet>
  
	<servlet-mapping>
	    <servlet-name>SignIn</servlet-name>
	    <url-pattern>/signin</url-pattern>
 	</servlet-mapping>

	<servlet>
	    <servlet-name>SignUp</servlet-name>
	    <servlet-class>servlet.SignUp</servlet-class>
 	</servlet>
  
	<servlet-mapping>
	    <servlet-name>SignUp</servlet-name>
	    <url-pattern>/signup</url-pattern>
 	</servlet-mapping>

	<servlet>
	    <servlet-name>ResetPass</servlet-name>
	    <servlet-class>servlet.ResetPass</servlet-class>
 	</servlet>
  
	<servlet-mapping>
	    <servlet-name>ResetPass</servlet-name>
	    <url-pattern>/ResetPass</url-pattern>
 	</servlet-mapping>

  	<filter>
 		<filter-name>EncodingFilter </filter-name>
 		<filter-class>servlet.EncodingFilter </filter-class>
  	</filter>

  	<filter-mapping>
  		<filter-name>EncodingFilter</filter-name>
   		<url-pattern>/</url-pattern>
  	</filter-mapping>

</web-app>